body{
    width: 80%;
}

#graphDiv {
    display: inline;
    float:right;
    width: 30%;   
}

#allMenuContainer{
    margin-left: 10px;
}

#theP {
    color: red;
}

.button {
    background-color:darkturquoise;
    border-radius: 25px;
    font-family: "Calibri";
    font-size: 14pt;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.graph{

    width: 49%;
    vertical-align: middle;
    margin: 0 auto;
}

/*#listDiv {
float: left;
height: 150px;
border-radius: 25px;
border: 2px solid turquoise;
border-width:medium;
width: 35%;
text-align: center;
align-content: center;
padding: 10px;
color:gray;
font-family: "Agency FB";
font-size:20pt
}*/

#menuContainer{
    float: left;
    width: auto;
    border: 2px solid turquoise;
    border-radius: 25px;
    border-width:medium;
    text-align: center;
    height: auto;
}

.menuContainer{
    float: left;
    border: 2px solid turquoise;
    border-radius: 25px;
    border-width:medium;
    text-align: center;
}

#titlebox{
    height: auto;
    width: auto;
}

.menubox{
    float: left;
    border-radius: 25px;
    border: dotted black;
    border-width:thin;
    text-align: left;
    padding: 10px;
    color:black;
    font-family: "Calibri";
    font-size: 14pt;
    margin: 2pt;
    width: auto;
    height: auto;
}

.menuhoverbox{
    float: left;
    display:
    height: auto;
    border-radius: 25px;
    border: 2px solid turquoise;
    border-width: medium;
    text-align: center;
    align-content: center;
    padding: 10px;
    color:black;
    font-family: "Calibri";
    font-size: 14pt;
    width: auto;
}
