body{
    width: 80%;
}

#openFileBox{
    display:inline-block;
    width: 400px;
    height: 125px;
    white-space: nowrap;
    overflow: hidden;
}

#fileOpenBtn{
   float:left; 
}

#goFileBtn{
    float: right;
}

#fileNameSpan{
    float:left;
    width: 287px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#graphDiv {
    display: inline;
    float:right;
    width: 30%;  
    margin-top: 10pt;
}


#allMenuContainer{
    margin-left: 10px;
}

#theP {
    color: red;
}


.menutitle{
    margin:2pt;
    padding: 3pt;
    color: black;
    text-align: center;
    border-radius: 15pt;
    background-color: mediumturquoise;
}

.button {
    background-color: darkturquoise;
    color: black;
    border-radius: 25px;
    font-family: "Calibri";
    font-size: 14pt;
}

.button:hover{
    background-color: darkgray;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.graph{
    width: 49%;
    vertical-align: middle;
    margin: 0 auto;
}

/*#listDiv {
float: left;
height: 150px;
border-radius: 25px;
border: 2px solid turquoise;
border-width:medium;
width: 35%;
text-align: center;
align-content: center;
padding: 10px;
color:gray;
font-family: "Agency FB";
font-size:20pt
}*/

#menuContainer{
    float: left;
    width: auto;
    border: 2px solid turquoise;
    border-radius: 25px;
    border-width:medium;
    text-align: center;
    vertical-align:middle;
    height: auto;
    margin: 10pt;
    padding: 10px;
}

.menuContainer{
    float: left;
    border: 2px solid turquoise;
    border-radius: 25px;
    border-width:medium;
    text-align: center;
}

#titlebox{
    height: auto;
    width: auto;
    margin:13pt;
}

#titleInput{
    border-radius: 15px;
    height: 14pt;
    padding: 4pt
}


.menubox{
    float: left;
    text-align: left;
    color:black;
    font-family: "Calibri";
    font-size: 14pt;
    margin: 5pt;
    width: auto;
    height: auto;
}

.menuouterbox{
    float: left;
    height: auto;
    border-radius: 25px;
    border: 2px solid turquoise;
    border-width: medium;
    text-align: center;
    align-content: center;
    padding: 10px;
    margin: 10pt;
    color:black;
    font-family: "Calibri";
    font-size: 14pt;
    width: auto;
    display:none;
}


.modebar{
    display: none !important;
}
